.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.weightInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}

.graph {
    margin-top: 100px;
}

.text {
    margin-left: 0.5em;
}
body {
    cursor: none;
}
